
:root { /* Isso aqui é utilizado para criar variaveis globais!*/

    --title-color: #322153;
    --primary-color: #34cb79;
}
/* "*" É uma palavra chave que diz que os atributos aqui passados, valem para todos os seletores*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;/* Por natureza, ao se adicionar um padding, a largura da caixa tende a aumentar, devido 
    ao conceito de caixas (basta olhar a imagem a guia de desenvolvedor para você ter uma ideia, quando usamos
    o box-sizzing: border-box eu consigo fazer o padding se adequar ao tamanho que eu setei em max-width*/
}

html {

    font-family: 'Roboto', sans-serif;
}

body {

    background: #f0f0f5;
    -webkit-font-smoothing: antialiased; /*melhora a imagem para as vistas*/
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}
